{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles leaflet_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block extra_js %}
    {% leaflet_js plugins="bouncemarker"%}
    <script src={% static "js/Leaflet.vector-markers.min.js" %}></script>
    <script type="text/javascript">
        if (typeof location.origin === 'undefined')
            location.origin = location.protocol + '//' + location.host;
        function map_init_basic (map, options) {
            function onEachFeature(feature, layer) {
                var popupContent = "<p><b>" + feature.properties.nome + "</b></p>" +
                        "Degrado: " + feature.properties.degrado + "<br>";

                if (feature.properties.gallery_url) {
                    popupContent += "<a href='" + location.origin + '/'
                    + feature.properties.gallery_url + "'><i class='fa fa-external-link'></i> Link galleria</a>"
                }
                    layer.bindPopup(popupContent);
            }

            var doneMarker = L.VectorMarkers.icon({
                icon: 'tree',
                markerColor: 'green'
            });
            var plannedMarker = L.VectorMarkers.icon({
                icon: 'dot-circle-o',
                markerColor: 'orange'
            });
            var commonOpt = {
                bounceOnAdd: true,
                bounceOnAddOptions: {duration: 800, height: 100},
                bounceOnAddCallback: function() {}
            };

            $.getJSON("{% url 'punti' %}", function(data) {
                var points = L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        if (feature.properties.status == 'PI') {
                            var iconOpt = {icon: plannedMarker};
                            return L.marker(latlng, $.extend({}, commonOpt, iconOpt));
                        } else {
                            var iconOpt = {icon: doneMarker};
                            return L.marker(latlng, $.extend({}, commonOpt, iconOpt));
                        }
                    },
                    onEachFeature: onEachFeature
                });
                map.addLayer(points);
            });

            var legend = L.control( { position: 'bottomright' } );
            legend.onAdd = function(map) {
                var legendContainer = L.DomUtil.create("div", "legend");
                $(legendContainer).append(
                        "<a href=" + location.origin + "/mappa" +
                        ">Vai alla mappa </a><i class='fa fa-arrow-circle-right'></i>"
                );
                return legendContainer;
            };
            legend.addTo(map)
        }
    </script>
{% endblock %}

{% block extra_css %}
    {% leaflet_css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static "css/Leaflet.vector-markers.css" %}>
    <style>
        .legend, .temporal-legend {
            padding: 6px 10px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
            font-size: large;
        }
    </style>
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block all_content %}

{% leaflet_map "yourmap" callback="window.map_init_basic" %}


<section class="main-info">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h4>Puliamo Terlizzi è un'associazione aperta a tutti quei cittadini che vogliono impegnarsi per combattere il degrado ambientale attraverso azioni concrete.</h4>
                <p class="no-margin">L’Associazione si propone di promuovere la tutela, la salvaguardia, la conservazione, la valorizzazione, la fruizione, la conoscenza e la riscoperta del patrimonio naturale, rurale, archeologico, storico, artistico, culturale, folkloristico, antropologico, demoetnoantropologico ed enogastronomico del territorio del Comune di Terlizzi e di aree ad esso limitrofe.</p>
            </div>
            <div class="span3">
                <a class="btn btn-success btn-large pull-right" href="/about">Chi siamo</a>
            </div>
        </div>
    </div>
</section>

<!--Services-->
<section id="services">
    <div class="container">
        <div class="center gap">
            <h3>Cosa facciamo</h3>
            <p class="lead">Lavoriamo in gruppi per ripulire la città!</p>
        </div>

        <div class="row-fluid">
            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-globe icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Interventi pianificati</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>
            </div>            

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-thumbs-up-alt icon-medium"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Grandi numeri</h4>
                        <p>19 grandi interventi, 64 mini interventi, 100 azioni di manutenzione, 60 volontari, 1200 sostenitori sul web, 40 tonnellate di rifiuti rimossi, 400 pneumatici rimossi, 15 km di strade ripulite, 200 alberi e piante messi a dimora nel territorio comunale.</p>
                    </div>
                </div>
            </div>            

            <div class="span4">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-leaf icon-medium icon-rounded"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Riduzione dei rifiuti</h4>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Services-->

<section id="recent-works">
    <div class="container">
        <div class="center">
            <h3>Interventi recenti</h3>
            <p class="lead">Alcune delle nostre operazioni di pulizia particolarmente riuscite:</p>
        </div>  
        <div class="gap"></div>
        <ul class="gallery col-4">
            <!--Item 1-->
            <li>
                <div class="preview">
                    <img alt="" src="{% static "images/portfolio/thumb/item1.jpg" %}">
                    <div class="overlay">
                    </div>
                    <div class="links">
                        <a data-toggle="modal" href="#modal-1"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>                          
                    </div>
                </div>
                <div class="desc">
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>
                <div id="modal-1" class="modal hide fade">
                    <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                    <div class="modal-body">
                        <img src="{% static "images/portfolio/full/item1.jpg" %}" alt=" " width="100%" style="max-height:400px">
                    </div>
                </div>                 
            </li>
            <!--/Item 1--> 

            <!--Item 2-->
            <li>
                <div class="preview">
                    <img alt="" src="{% static "images/portfolio/thumb/item2.jpg" %}">
                    <div class="overlay">
                    </div>
                    <div class="links">
                        <a data-toggle="modal" href="#modal-1"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>                                
                    </div>
                </div>
                <div class="desc">
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>
                <div id="modal-1" class="modal hide fade">
                    <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                    <div class="modal-body">
                        <img src="{% static "images/portfolio/full/item2.jpg" %}" alt=" " width="100%" style="max-height:400px">
                    </div>
                </div>                 
            </li>
            <!--/Item 2-->

            <!--Item 3-->
            <li>
                <div class="preview">
                    <img alt="" src="{% static "images/portfolio/thumb/item3.jpg" %}">
                    <div class="overlay">
                    </div>
                    <div class="links">
                        <a data-toggle="modal" href="#modal-3"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>                                
                    </div>
                </div>
                <div class="desc">
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>
                <div id="modal-3" class="modal hide fade">
                    <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                    <div class="modal-body">
                        <img src="{% static "images/portfolio/full/item3.jpg" %}"alt=" " width="100%" style="max-height:400px">
                    </div>
                </div>                 
            </li>
            <!--/Item 3--> 

            <!--Item 4-->
            <li>
                <div class="preview">
                    <img alt="" src="{% static "images/portfolio/thumb/item4.jpg" %}">
                    <div class="overlay">
                    </div>
                    <div class="links">
                        <a data-toggle="modal" href="#modal-4"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>                                
                    </div>
                </div>
                <div class="desc">
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>
                <div id="modal-4" class="modal hide fade">
                    <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
                    <div class="modal-body">
                        <img src="{% static "images/portfolio/full/item4.jpg" %}" alt=" " width="100%" style="max-height:400px">
                    </div>
                </div>                 
            </li>
            <!--/Item 4-->               

        </ul>
    </div>

</section>

<!--
<section id="clients" class="main">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="clearfix">
                    <h4 class="pull-left">OUR PARTNERS</h4>
                    <div class="pull-right">
                        <a class="prev" href="#myCarousel" data-slide="prev"><i class="icon-angle-left icon-large"></i></a> <a class="next" href="#myCarousel" data-slide="next"><i class="icon-angle-right icon-large"></i></a>
                    </div>
                </div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="span10">
                <div id="myCarousel" class="carousel slide clients">
                  <div class="carousel-inner">
                    <div class="active item">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client1.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client2.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client3.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client4.png" %}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client4.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client3.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client2.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client1.png" %}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client1.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client2.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client3.png" %}"></a></li>
                                <li class="span3"><a href="#"><img src="{% static "images/sample/clients/client4.png" %}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
-->




{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}


{% endblock %}
{% block right_wrapper %}
{% endblock %}



{% endblock %}
